@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');


:root {
    /*color bg */

    --brackground: #0f0f0f;
    --primary: #ff6700;
    --secundary: #1f1f1f;
    --naranja1: #f83600;
    --piel: #ffb8b8;
    --grisclaro: #545454;
    --grismedio: #3f3f3f;


    /*text color*/

    --textgrey: #adb9c7;
    --textwhite: #f3f4f6;
}


*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;

    /* TODO */
    font-family: "Montserrat", sans-serif; 

    text-decoration: none;
    list-style-type: none;
}




/* navbar section */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 60px;
    background: var(--secundary);
    position:fixed;
    top: 0;
    z-index: 2;
}


.logo {
    height: 60%;
}


.navbar,.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.navbar {
    gap: 100px;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 14px;
    
}


ul a {
    text-decoration: none;
    color: var(--textgrey);
    padding: 10px;
}


.navbar-list li:first-child > a {
    color: var(--textwhite);
    font-weight: 700;
}


.cart-icon {
    width: 100%;
    font-weight: 700;
    height: 25px;
    color: var(--primary);
    cursor: pointer;
}









main {
    background: var(--brackground);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    width: 100%;


}

/*hero section */


#hero {
    margin-top: 60px;
    padding: 50px 50px;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.hero-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 550px;
}

.hero-info-boton {
    display: inline;
    flex-wrap: wrap;
    padding-top: 11px;
    gap: 10px;
    width: 100%;
}

.hero-info a {

    border-radius: 15px;
    font-size: 16px;
    color: var(--textwhite);
    background: linear-gradient(90deg, #f83600, #ff6700);
    font-weight: 700;
    padding: 8px 12px;
    margin-right: 10px;
    width: 120px ;
    text-align: center;
}

.hero-info h1 {
    font-size: 40px;
    max-width: 600px;
    font-weight: 800;
    color: var(--textwhite);
    min-width: 350px;

}

.hero-info p {
    font-size: 16px;
    max-width: 600px;
    font-weight: 400;
    color: var(--textgrey);
}

.hero-info p > span {
    font-weight: 700;
}

.hero-img {
    background: linear-gradient(90deg, #f83600, #ff6700);
    width: 400px;
    min-width: 400px;
    border-radius: 50%;
    padding: 10px 19px 19px 0px ;
}





/* introduccion section */

#Intro {
    padding: 40px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}




#Intro h2 {
    max-width: 600px;
    justify-content: center;
    color: var(--textwhite);
    border-radius: 15px;
    padding: 20px;
    font-size: 24px;
    font-weight: 800;
    background: linear-gradient(90deg, #f83600, #ff6700);
    text-align: center;
    
}

#Intro p {
    max-width: 600px;
    text-align: center;
    color: var(--textgrey);
    font-size: 16px;
    font-weight: 400;

}

#Intro p > span {
    font-weight: 700;
}





/* Introduccion 2 section  */

#intro-2 {
    padding: 40px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}


#intro-2 h2 {
    color: var(--textwhite);
    font-size: 24px;
    font-weight: 800;
    background: linear-gradient(90deg, #f83600, #ff6700);
    border-radius: 10px;
    padding: 10px;
}


#intro-2 h3 {
    justify-content: center;
    color: var(--textwhite);
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

#intro-2 p {
    max-width: 600px;
    text-align: center;
    justify-content: center;
    color: var(--textgrey);
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
}

#intro-2 p > span {
font-weight: 700;

}






/* cards  section */


#cards {

    padding: 40px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;

}

#cards h2 {
    color: var(--textwhite);
    font-size: 24px;
    font-weight: 800;
    background: linear-gradient(90deg, #f83600, #ff6700);
    border-radius: 10px;
    padding: 10px;
}

#cards p {
    max-width: 600px;
    color: var(--textgrey);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.info-cards-container {

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
} 

.info-cards {

    width: 300px;
    height: 500px;
    padding: 40px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: var(--secundary);
    border-radius: 10px;
    gap: 30px;

}

.info-cards h3 {
    color: var(--textwhite);
    font-size: 24px;
    font-weight: 800;
    background: linear-gradient(90deg, #f83600, #ff6700);
    border-radius: 10px;
    padding: 10px;
}

.info-cards img {
    height: 200px;

}



.info-cards h4 {
    color: var(--textgrey);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}





/* contact section */


#contact {
    margin-top: 60px;
    padding: 50px 50px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.contact-info h2 {
    color: var(--textwhite);
    font-size: 24px;
    font-weight: 800;
    border-radius: 10px;
}
    
    
.contact-info-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.contact-info-content img {
    width: 20px;
}

.contact-redes {
    display: inline;
    gap: 10px;
}

.ubicacion {
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.contact-info-content p {
    font-size: 14px;
    color: var(--textgrey);

}
.contact-redes img {
    height: 20px;
}

.contact-map {
    display: flex;
    justify-content: center;
    align-content: center;
    background: linear-gradient(90deg, #f83600, #ff6700);
    min-width: 200px;
    border-radius: 60px;
    padding: 10px ;
}

.contact-map img {
    width: 400px;
    min-width: 200px;  
}

/* footer */

footer {
    background-color: var(--secundary);
    color: var(--grisclaro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px 0px;

}

footer a {
    color: var(--textgrey);
    font-weight: 400;
    font-size: 12git px;

}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer img {
    width: 100px;
    min-width: 80px;
}
