@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');


:root {
    /*color bg */

    --brackground: #0f0f0f;
    --primary: #ff6700;
    --secundary: #1f1f1f;
    --naranja1: #f83600;

    /*text color*/

    --textgrey: #adb9c7;
    --textwhite: #f3f4f6;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* TODO */
    font-family: "Montserrat", sans-serif; 

    text-decoration: none;
    list-style-type: none;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 30px;
    height: 65px;
    background: var(--secundary);

    /* hacer scroleable */
}


.logo {
    height: 60%;
}


.navbar,.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.navbar {
    gap: 100px;
}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 16px

}


ul a {
    text-decoration: none;
    color: var(--textgrey);
}


.navbar-list li:first-child > a {
    color: var(--textwhite);
    font-weight: 700;
}


.cart-icon {
    width: 100%;
    font-weight: 700;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
    margin-right: 1rem;
    color: var(--primary);
    cursor: pointer;
    gap: 50px;
}


/*hero section */

main {
    background: var(--brackground);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--textgrey);
    width: 100%;


}

#hero {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 50px;
    max-width: 1000px;
    display: flex;
    justify-content:center;
    align-items: flex-start;
}


.hero-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.hero-info-boton {
    padding-top: 13px;
    gap: 10px;
    width: 70%;
}

.hero-info a {

    display: inline;
    border-radius: 15px;
    font-size: 14px;
    color: var(--textwhite);
    background: linear-gradient(90deg, #f83600, #ff6700);
    font-weight: 700;
    padding: 8px 12px;
    margin-right: 10px;
    width: 120px ;
    text-align: center;
}

.hero-info h1 {
    font-size: 40px;
    width: 80%;
    font-weight: 800;
    color: var(--textwhite);
    min-width: 350px;

}

.hero-info p {
    font-size: 15px;
    width: 80%;
    font-weight: 400;
    color: var(--textgrey);
}

.hero-info p > span {
    font-weight: 800;
}

.hero-img {
    color: var(--textgrey);
    background: linear-gradient(90deg, #f83600, #ff6700);
    width: 400px;
    border-radius: 50%;
    padding: 10px 19px 19px 0px ;
    display: flex;
}

/* introduccion section */

#Introduccion-1 {
    margin-bottom: 50px;
    padding: 50px 50px;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    gap: 18px;
    width: 90%;
}

.intro h2 {
    justify-content: center;
    color: var(--textwhite);
    border-radius: 15px;
    padding: 20px;
    font-size: 20px;
    font-weight: 800;
    background: linear-gradient(90deg, #f83600, #ff6700);
    text-align: center;
    
}

.intro p {
    text-align: justify;
    color: var(--textgrey);
    font-size: 15px;
    font-weight: 400;

}

.intro p > span {
    font-weight: 800;
}












